# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# ==========================
# VS Code / IDE
# ==========================
.vscode/
.idea/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# dbt
# ==========================
dbt/atmosync/target/
dbt/atmosync/logs/
dbt_packages/

# ==========================
# Cache
# ==========================
.pytest_cache/
.mypy_cache/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.log

# ==========================
# OS Files
# ==========================
Thumbs.db
.DS_Store

# ==========================
# SQLite Journals
# ==========================
*.db-journal
